@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');

@font-face {
    font-family: 'arquitecta_heavy';
    src: url('src/fonts/arquitectaheavy-webfont.woff2') format('woff2'),
         url('src/fonts/arquitectaheavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 52px 0 52px;
}

header {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    border-bottom: 1px solid #000000;   
}

nav {
    display: flex;
    justify-content: space-between;
}

li {
    text-decoration: none;
    list-style: none;
}

.nav-button {
    font-family: 'arquitecta_heavy';
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.nav-name {   
    font-size: 35px;
}

.nav-role {
    font-size: 24px;
}

.nav-contact {
    font-size: 35px;
}

.nav-contact a {
    font-family: 'arquitecta_heavy';
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.header-introduction {
    align-self: center;
    width: 705px;
    margin-top: 68px;
    margin-bottom: 32px;
}

.header-introduction p {
    font-family: 'arsenal', sans-serif;
    font-size: 35px;
    color: #000000;
    letter-spacing: 0.1em;
}

main {
    margin-top: 28px;
}

main div p {
    font-family: 'arsenal', sans-serif;
    font-size: 28px;
    color: #000000;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 85px;
}

.projects a {
    width: 776.45px;
    height: 638.67px;
    margin-bottom: 120px;
}